body {
    background: rgb(239, 239, 239);
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
.col {
  max-width: 360px;
  min-width: 300px;
  height: 350px;
  padding: 16px;
}
.toggle, .toggle:before, .slot__label, .curtain {
  transition-property: background-color, transform, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in, cubic-bezier(0.6,0.2,0.4,1.5), linear;
  color: #fff;
}
.slot__label{
  font-weight: 200;
}
.toggle:before, .slot, .slot__label {
  display: block;
}
.toggle:before, .curtain {
  position: absolute;
}
.toggle:checked, .curtain {
  background-color: rgb(183, 183, 183);
}
.toggle:focus {
  outline: transparent;
}
.toggle {
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.1em inset;
  cursor: pointer;
  position: relative;
  margin-right: 0.25em;
  width: 3em;
  height: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.toggle:before {
  background: currentColor;
  border-radius: 50%;
  content: "";
  top: 0.2em;
  left: 0.2em;
  width: 1.1em;
  height: 1.1em;
}
.toggle:checked:before {
  transform: translateX(1.5em);
}
.toggle:checked ~ .slot .slot__label, .slot__label:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}
.toggle:checked ~ .slot .slot__label:nth-child(2) {
  transform: translateY(-100%) scaleY(1);
}
.toggle:checked ~ .curtain {
  transform: scaleX(1);
}
.slot {
  color: transparent;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  overflow: hidden;
  height: 1em;
  -webkit-text-stroke: 0.05em #fff;
}
.slot__label {
  transform-origin: 50% 0;
}
.slot__label:nth-child(2) {
  transform-origin: 50% 100%;
}
.curtain {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0 50%;
  z-index: -1;
}
.group-switch {
  display: flex;
  width: 140px;
  justify-content: space-between;
}
.album-img {
  display: block;
  width: 100%;
  height: 225px;
  object-fit: contain;
}
.card {
  height: 100%;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  transition-duration: 0.3s;
  padding: 15px;
  border-radius: 7%;
  height: 318px;
  width: 328px;
}
.col {
  perspective: 1000px; 
  position: relative;
}
.card-inverted{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 318px;
  width: 328px;
  transition-duration: 0.6s;
  padding: 15px;
  border-radius: 7%;
  background: #fff;
}
.card__front{
  position: absolute;
  backface-visibility: hidden;
  transition: 0.6s all ease;
}
.card__back{
  position: absolute;
  backface-visibility: hidden;
  transition: 0.6s all ease;
  transform: rotateY(180deg);
  }
.rotate180 {
  transform: rotateY(180deg);
}
.rotate360 {
  transform: rotateY(360deg);
}
.translate {
  display: block;
  text-align: center;
  font-size: 28px;

  pointer-events: none !important;
}
.card:hover {
  box-shadow: 0 .125rem .9rem rgba(0,0,0, 0.2);
  cursor: pointer;
}
.cards-numbers {
  position: relative;
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
}
.card-text {
  margin-bottom: 0;
  color: #000;
  font-size: 18px;
}
.text-muted {
  position: absolute;
  right: 0;
  display: block;
  color: #fff;
}
#headerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  max-width: 700px;
  margin-right: 0;
  padding: 0;
}
li {
  list-style-type: none;
  padding: 20px 0 20px 40px;
  cursor: pointer;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-white {
  white-space: nowrap;
  cursor: pointer;
}
.translate-icon{
  width: 35px;
  height: 35px;
}
.hide {
  display: none;
}